body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.2);
  background-image:none;
  position:relative;
  left:-0px;
  width:1002px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:576px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:856px;
  width:482px;
  height:576px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:2462px;
  width:146px;
  height:15px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:105px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2347px;
  width:1050px;
  height:105px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:2407px;
  width:49px;
  height:28px;
}
#u878_img.mouseOver {
}
#u878.mouseOver {
}
#u879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:2407px;
  width:30px;
  height:30px;
}
#u880_img.mouseOver {
}
#u880.mouseOver {
}
#u881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:2407px;
  width:30px;
  height:30px;
}
#u882_img.mouseOver {
}
#u882.mouseOver {
}
#u883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:2407px;
  width:30px;
  height:30px;
}
#u884_img.mouseOver {
}
#u884.mouseOver {
}
#u885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:2407px;
  width:30px;
  height:30px;
}
#u886_img.mouseOver {
}
#u886.mouseOver {
}
#u887 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:79px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2358px;
  width:203px;
  height:78px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:199px;
  word-wrap:break-word;
}
#u890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:2357px;
  width:66px;
  height:20px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  white-space:nowrap;
}
#u892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:2387px;
  width:101px;
  height:20px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
#u894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:2417px;
  width:150px;
  height:20px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  white-space:nowrap;
}
#u896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:2357px;
  width:101px;
  height:20px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
#u898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:2387px;
  width:86px;
  height:20px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  white-space:nowrap;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:2465px;
  width:101px;
  height:20px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:2463px;
  width:96px;
  height:13px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:2461px;
  width:24px;
  height:17px;
  font-size:10px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  white-space:nowrap;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:77px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:1px;
  width:1102px;
  height:77px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1098px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:126px;
  width:300px;
  height:170px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:9px;
  width:140px;
  height:30px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:29px;
  width:66px;
  height:20px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:29px;
  width:101px;
  height:20px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:29px;
  width:150px;
  height:20px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:63px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:7px;
  width:162px;
  height:62px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:158px;
  word-wrap:break-word;
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:49px;
  width:140px;
  height:20px;
}
#u923_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923.mouseOver {
}
#u924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:18px;
  width:50px;
  height:42px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-style:normal;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:144px;
  width:405px;
  height:37px;
  font-family:'Arial Обычный', 'Arial';
  font-style:normal;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:457px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:211px;
  width:361px;
  height:457px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  word-wrap:break-word;
}
#u931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2278px;
  width:950px;
  height:34px;
  color:#FFFFFF;
}
#u931_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u931.mouseOver {
}
#u932 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:946px;
  word-wrap:break-word;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:571px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:144px;
  width:473px;
  height:571px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:685px;
  width:361px;
  height:34px;
}
#u935_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u935.mouseOver {
}
#u936 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:357px;
  word-wrap:break-word;
}
#u937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:856px;
  width:147px;
  height:57px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:930px;
  width:361px;
  height:304px;
  text-align:right;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  word-wrap:break-word;
}
#u941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:1398px;
  width:361px;
  height:34px;
}
#u941_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u941.mouseOver {
}
#u942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:357px;
  word-wrap:break-word;
}
#u943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2234px;
  width:950px;
  height:34px;
  color:#FFFFFF;
}
#u943_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u943.mouseOver {
}
#u944 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:946px;
  word-wrap:break-word;
}
#u945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1533px;
  width:147px;
  height:57px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:416px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1600px;
  width:361px;
  height:416px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  word-wrap:break-word;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:576px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:1533px;
  width:482px;
  height:576px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2074px;
  width:361px;
  height:34px;
}
#u951_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u951.mouseOver {
}
#u952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:357px;
  word-wrap:break-word;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:576px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1620px;
  width:482px;
  height:576px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:1620px;
  width:147px;
  height:57px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:1694px;
  width:361px;
  height:304px;
  text-align:right;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  word-wrap:break-word;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:2162px;
  width:361px;
  height:34px;
}
#u959_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u959.mouseOver {
}
#u960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:357px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 0.2);
  background-image:none;
  position:relative;
  left:-0px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u871.a {
  left:61px;
  top:761px;
  width:378px;
  height:435px;
}
#u871_img.a {
  width:378px;
  height:435px;
}
#u872.a {
  top:210px;
  width:374px;
}
#u873.a {
  position:absolute;
  left:0px;
  top:2405px;
  width:500px;
  height:307px;
}
#u874.a {
  left:165px;
  top:2696px;
}
#u874_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875.a {
}
#u876.a {
  top:2405px;
  width:500px;
  height:281px;
}
#u876_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:281px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877.a {
  top:132px;
  width:496px;
}
#u878.a {
  left:245px;
  top:2427px;
  width:60px;
  height:32px;
}
#u878_img.a {
  width:60px;
  height:32px;
}
#u878_img.a.mouseOver {
}
#u878.a.mouseOver {
}
#u879.a {
  top:8px;
  width:56px;
}
#u880.a {
  left:315px;
  top:2427px;
  width:36px;
  height:36px;
}
#u880_img.a {
  width:36px;
  height:36px;
}
#u880_img.a.mouseOver {
}
#u880.a.mouseOver {
}
#u881.a {
  top:10px;
  width:32px;
}
#u882.a {
  left:360px;
  top:2427px;
  width:36px;
  height:36px;
}
#u882_img.a {
  width:36px;
  height:36px;
}
#u882_img.a.mouseOver {
}
#u882.a.mouseOver {
}
#u883.a {
  top:10px;
  width:32px;
}
#u884.a {
  left:405px;
  top:2427px;
  width:36px;
  height:36px;
}
#u884_img.a {
  width:36px;
  height:36px;
}
#u884_img.a.mouseOver {
}
#u884.a.mouseOver {
}
#u885.a {
  top:10px;
  width:32px;
}
#u886.a {
  left:451px;
  top:2427px;
  width:36px;
  height:36px;
}
#u886_img.a {
  width:36px;
  height:36px;
}
#u886_img.a.mouseOver {
}
#u886.a.mouseOver {
}
#u887.a {
  top:10px;
  width:32px;
}
#u888.a {
  left:7px;
  top:2414px;
  width:166px;
  height:61px;
}
#u888_img.a {
  width:167px;
  height:62px;
}
#u889.a {
  top:22px;
  width:162px;
}
#u890.a {
  left:7px;
  top:2519px;
  width:93px;
  height:26px;
}
#u890_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891.a {
  width:89px;
}
#u892.a {
  left:7px;
  top:2573px;
  width:144px;
  height:26px;
}
#u892_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893.a {
  width:140px;
}
#u894.a {
  left:7px;
  top:2627px;
  width:207px;
  height:26px;
}
#u894_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895.a {
  width:203px;
}
#u896.a {
  left:291px;
  top:2519px;
  width:140px;
  height:26px;
}
#u896_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897.a {
  width:136px;
}
#u898.a {
  left:291px;
  top:2573px;
  width:118px;
  height:26px;
}
#u898_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899.a {
  width:114px;
}
#u900.a {
  left:291px;
  top:2627px;
  width:140px;
  height:26px;
}
#u900_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901.a {
  width:136px;
}
#u903.a {
  left:173px;
  top:2697px;
}
#u903_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u904.a {
}
#u905.a {
  left:278px;
  top:2695px;
}
#u905_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u906.a {
}
#u907.a {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:448px;
}
#u908.a {
  left:0px;
  top:0px;
  width:500px;
}
#u908_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:77px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u909.a {
  width:496px;
}
#u911.a {
  left:260px;
  top:77px;
  width:240px;
  height:371px;
}
#u911_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:371px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912.a {
  top:178px;
  width:236px;
}
#u913.a {
  left:280px;
  top:350px;
  width:209px;
  height:81px;
}
#u913_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:81px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914.a {
  top:32px;
  width:205px;
}
#u915.a {
  left:280px;
  top:85px;
  width:209px;
  height:76px;
}
#u915_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916.a {
  top:28px;
  width:205px;
}
#u917.a {
  left:280px;
  top:173px;
  width:209px;
  height:76px;
}
#u917_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918.a {
  top:28px;
  width:205px;
}
#u919.a {
  left:280px;
  top:262px;
  width:209px;
  height:76px;
}
#u919_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920.a {
  top:28px;
  width:205px;
}
#u921.a {
  left:9px;
  top:8px;
  width:175px;
  height:60px;
}
#u921_img.a {
  width:176px;
  height:61px;
}
#u922.a {
  top:22px;
  width:171px;
}
#u923.a {
  left:245px;
  top:27px;
  height:23px;
}
#u923_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923.a.mouseOver {
}
#u924.a {
}
#u925.a {
  left:451px;
  width:49px;
  height:41px;
}
#u925_img.a {
  width:49px;
  height:41px;
}
#u926.a {
  top:12px;
  width:45px;
}
#u927.a {
  left:123px;
  top:95px;
  width:255px;
  height:24px;
}
#u927_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-style:normal;
}
#u928.a {
  width:255px;
}
#u929.a {
  left:0px;
  top:129px;
  width:500px;
  height:377px;
}
#u929_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:377px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u930.a {
  width:500px;
}
#u931.a {
  left:0px;
  top:2349px;
  width:500px;
  height:46px;
}
#u931_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u931_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u931.a.mouseOver {
}
#u932.a {
  top:15px;
  width:496px;
}
#u933.a {
  left:208px;
  top:307px;
  width:292px;
  height:352px;
}
#u933_img.a {
  width:292px;
  height:352px;
}
#u934.a {
  top:168px;
  width:288px;
}
#u935.a {
  left:0px;
  top:600px;
  width:198px;
  height:59px;
}
#u935_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:59px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:59px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u935.a.mouseOver {
}
#u936.a {
  top:14px;
  width:194px;
}
#u937.a {
  left:203px;
  top:730px;
  width:95px;
}
#u937_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u938.a {
  width:95px;
}
#u939.a {
  left:10px;
  top:1206px;
  width:480px;
  height:240px;
}
#u939_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u940.a {
  width:480px;
}
#u941.a {
  left:10px;
  top:1426px;
  width:480px;
  height:54px;
}
#u941_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u941_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u941.a.mouseOver {
}
#u942.a {
  top:19px;
  width:476px;
}
#u943.a {
  left:0px;
  top:2290px;
  width:500px;
  height:46px;
}
#u943_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u943_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u943.a.mouseOver {
}
#u944.a {
  top:15px;
  width:496px;
}
#u945.a {
  left:540px;
}
#u945_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u946.a {
}
#u947.a {
  left:540px;
}
#u947_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:416px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948.a {
}
#u949.a {
  left:1008px;
}
#u949_img.a {
}
#u950.a {
}
#u951.a {
  left:540px;
}
#u951_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u951.a.mouseOver {
}
#u952.a {
}
#u953.a {
  left:61px;
  top:1525px;
  width:378px;
  height:435px;
}
#u953_img.a {
  width:378px;
  height:435px;
}
#u954.a {
  top:210px;
  width:374px;
}
#u955.a {
  left:203px;
  top:1494px;
  width:95px;
}
#u955_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u956.a {
  width:95px;
}
#u957.a {
  left:10px;
  top:1970px;
  width:480px;
  height:240px;
}
#u957_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u958.a {
  width:480px;
}
#u959.a {
  left:10px;
  top:2190px;
  width:480px;
  height:60px;
}
#u959_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:60px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:60px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u959.a.mouseOver {
}
#u960.a {
  top:22px;
  width:476px;
}
